{% extends "layout.htm" %}
{% block content %}
<div id="intro">
Use this form to book studio time for training, pre-recording, etc.
</div>
<hr>
{% include "key.htm" %}
<hr>
<div id="response"></div>
<div id="booking">
<form id="bookingform" method="POST" action="{{ url_for('make_booking') }}">
    {{ form.csrf_token }}
    {{ form.start }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.contact.label }} {{ form.contact() }}
    {{ form.date.label }} {{ form.date(readonly=true) }}
    {{ form.time.label }} {{ form.time(readonly=true) }}
    {{ form.duration.label }} {{ form.duration() }}
    {{ form.studio.label }} {{ form.studio() }}
    <br>
    {{ form.submit() }}
    <a id="cancelbooking" class=".btn" href="#">Cancel</a>
</form>
</div>
<div id="calendar"></div>
{% endblock %}
